body {
  margin: 0px auto;
  max-width: 2000px;
}
.clearfix {
  clear: both;
}
/** COMPLETAMENTE PROVISIONALES **/
/**BORRAR**/
/** **/
.noselected {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.font--text {
  font-family: sans-serif, verdana, arial;
}
.font--main {
  font-family: 'Roboto Slab', serif;
}
.font--slim {
  font-family: 'Advent Pro', sans-serif;
}
.font--cursive {
  font-family: 'Sacramento', cursive;
}
.shape__text {
  color: white;
  font-weight: bold;
  text-align: center;
}
.shape--background {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
html {
  background-color: #1e2356;
}
.clearfix {
  clear: both;
}
.text--big {
  font-size: 13pt;
  line-height: 15pt;
}
.text--medium {
  font-size: 13pt;
  line-height: 15pt;
}
.text--small {
  font-size: 11pt;
  line-height: 13pt;
  padding: 14px;
  padding-left: 0;
}
@media only screen and (max-width: 480px) {
  .hide-smartphone {
    display: none;
  }
}
.yeeko-count__icon {
  height: 25px;
  width: 25px;
  display: inline-block;
}
.yeeko-count__number {
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
  padding: 0px 5px;
  float: right;
  min-width: 13px;
  color: #00b5cb;
  margin-top: 5px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}
.inline-box {
  box-sizing: border-box;
  display: inline-block;
}
.shape__background {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
